In [2]:
#load packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#read csv
whole_train = pd.read_csv("reviews_train.csv")
whole_train.head()

,score,summary,text
0,1.0,not good,not good I bought this book because I read som...
1,1.0,Buyer beware,"Buyer beware This is a self-published book, an..."
2,1.0,The Worst!,The Worst! A complete waste of time. Typograph...
3,1.0,Oh please,Oh please I guess you have to be a romance nov...
4,1.0,Awful beyond belief!,Awful beyond belief! I feel I have to write to...

In [4]:
#sample 50,000 reviews
subset = whole_train.sample(n=50000)
subset.head()

,score,summary,text
369138,3.0,good and helpfull read,good and helpfull read this book is very good ...
72547,1.0,Sadly overpriced and irrelevant,Sadly overpriced and irrelevant In spite of it...
176576,2.0,Endless rant,Endless rant Howard should have borrowed from ...
74042,1.0,Not Quite Hip,Not Quite Hip It's really a shame about the ti...
1424811,5.0,Journey to the Centre of the Earth,Journey to the Centre of the Earth Hey! This i...

In [7]:
#remove the summary column
df = subset.drop('summary', axis=1)

In [8]:
#store sample in new csv
dataframe1 = pd.DataFrame(df)
dataframe1.to_csv('50k_reviews.csv', index=False)