In [35]:
import pandas as pd
from gensim.models import Word2Vec
import joblib
import pickle
import time

In [6]:
df=pd.read_csv('Data/X_train')

In [18]:
df

,index,tokenized_summary,tokenized_text
0,45570,"['the', 'good', 'the', 'bad', 'and', 'the', 'b...","['two', 'novels', 'in', 'one', 'we', 'of', 'th..."
1,21855,"['breathtaking', 'unbelievable', 'the', 'ameri...","['consider', 'this', 'book', 'to', 'be', 'the'..."
2,41127,"['great', 'person', 'to', 'buy', 'from']","['ordered', 'this', 'item', 'for', 'my', 'fath..."
3,4849,"['fabulously', 'freaky', 'by', 'ac']","['this', 'book', 'freaky', 'friday', 'is', 'ab..."
4,20742,['finally'],"['having', 'devoured', 'campbell', 'work', 'in..."
...,...,...,...
39995,39296,"['many', 'kids', 'speak', 'out', 'on', 'go', '...","['go', 'ask', 'mom', 'by', 'alexisgo', 'ask', ..."
39996,49015,"['her', 'best']","['civil', 'contract', 'is', 'my', 'favorite', ..."
39997,2693,"['ah', 'mazing']","['this', 'is', 'wonderful', 'wonderful', 'book..."
39998,8076,"['classic', 'revised', 'and', 'updated']","['this', 'is', 'the', 'revised', 'and', 'updat..."
39999,7624,"['the', 'review', 'of', 'classic']","['of', 'mice', 'and', 'men', 'it', 'about', 't..."

In [ ]:
sentences = [nltk.word_tokenize(sent) for sent in nltk.sent_tokenize(text)]

In [65]:
vector_size=1000
#The number of dimensions of embeddings, the default is 100
window=3
#The maximum distance between a target word and its neighbours, default is 5
min_count=3
#The minimum counts of words in order for the word to be considered for the training of model, default is 5
workers=3
#The number of partitions during training, default is 3
sg=1
#The training algorithom, either CBOW(0) or skip gram(1), default is CBOW

#train model on the training data set
start_t = time.time()
#tokens = pd.Series(df['tokenized_text']).values
w2vmodel=Word2Vec(df['tokenized_text'],min_count=min_count,vector_size=vector_size,workers=workers,sg=sg)
print('Time taken to train word2vec model:' +str(time.time()-start_t))

Time taken to train word2vec model:278.15235447883606

In [63]:
filename='w2v_model.joblib'
joblib.dump(w2vmodel,filename)
#save model into a file

['w2v_model.joblib']

In [59]:
#loaded_model=joblib.load('w2v_model.joblib')
#load model from the saved file

In [ ]:
#https://builtin.com/machine-learning/nlp-word2vec-python

In [68]:
w2vmodel.wv.key_to_index

{"'": 0,
 ',': 1,
 ' ': 2,
 'e': 3,
 't': 4,
 'o': 5,
 'a': 6,
 'i': 7,
 'n': 8,
 's': 9,
 'r': 10,
 'h': 11,
 'l': 12,
 'd': 13,
 'u': 14,
 'c': 15,
 'm': 16,
 'f': 17,
 'g': 18,
 'y': 19,
 'w': 20,
 'b': 21,
 'p': 22,
 'v': 23,
 'k': 24,
 'j': 25,
 'x': 26,
 '[': 27,
 ']': 28,
 'q': 29,
 'z': 30,
 '_': 31}

In [46]:
#https://towardsdatascience.com/word2vec-explained-49c52b4ccb71

emb_df = (
    pd.DataFrame(
        [w2vmodel.wv.get_vector(str(n)) for n in w2vmodel.wv.key_to_index],
        index = w2vmodel.wv.key_to_index
    )
)
print(emb_df.shape)

emb_df.head()

(32, 1000)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
',0.031455,0.022257,-0.080828,0.055068,-0.113461,0.071231,0.072495,-0.018205,-0.094144,-0.063879,...,-0.016837,0.029254,0.017022,0.026526,0.002415,-0.000124,-0.068904,-0.085623,0.056702,-0.032174
",",0.033035,0.147626,-0.093358,0.193276,-0.065616,0.035034,0.043982,0.020152,-0.038853,-0.026305,...,-0.068709,0.078857,0.010690,0.077886,0.010584,-0.015952,-0.168852,-0.119867,0.083824,-0.096087
,0.027785,-0.071871,-0.076887,-0.037039,-0.073023,-0.098712,0.051853,0.108900,-0.034101,-0.033878,...,-0.008137,0.037834,0.000363,0.072989,-0.033859,0.013568,-0.104147,-0.152557,0.055926,-0.069418
e,-0.041415,0.010384,-0.038297,0.038029,-0.124397,-0.006920,0.053286,0.116629,-0.083748,0.016945,...,-0.090414,0.168992,-0.002535,0.063617,0.086329,-0.063187,-0.201184,-0.103024,0.098940,-0.078149
t,-0.111408,-0.009614,0.027993,0.074267,-0.017626,-0.053944,0.033197,0.039401,0.006299,-0.043958,...,-0.002286,0.054654,0.027367,0.032494,0.026941,0.012353,-0.049237,-0.107319,0.065806,-0.054081

In [47]:
print(w2vmodel.wv.most_similar('wonderful'))

[('a', 0.717636227607727), ("'", 0.6805559992790222), ('o', 0.6769972443580627), ('i', 0.6735943555831909), ('s', 0.6604557633399963), (' ', 0.6354652047157288), ('y', 0.6283341646194458), ('t', 0.6280517578125), (',', 0.6258476376533508), ('m', 0.6245771646499634)]

In [ ]:
#https://www.geeksforgeeks.org/python-word-embedding-using-word2vec/
print("Cosine similarity between 'alice' " +
               "and 'wonderland' - Skip Gram : ",
    model1.wv.similarity('alice', 'wonderland'))